body {
    font-family: 'Montserrat', sans-serif;
}

#wrapper {
    width: 75%;
    margin: auto;
}

#header {
    height: 150px;
    background-color: yellowgreen;
    margin-bottom: 20px;
}

.filter {
    height: 100px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #f4eff1;
}
.filter input {
    border: 1px solid red;
}


label {
  text-align: center;
  font-size: 40px;
}


.item_row {
    display: flex;
    /* margin: 50px 0; */
    padding: 30px 0;

    /* border-bottom: 1px solid #464142; */
    border-bottom: 1px solid #f4eff1;
    border-top: 1px solid #f4eff1;

}

.item_thumb {
    width: 150px;
    margin: 0 20px;
    border-radius: 15px;
}

.item_name {
    margin-top: 10px;
    font-size: 20px;
}
.item_price {
    /* border: 1px solid green; */
    align-self: flex-end;
    margin-left: auto;
    font-size: 25px;
}